AI_API_KEY = ai-model-api-key
AI_MODEL= ai-model-name
AI_API_BASE= ai-model-provider-base-api
MONGODB_URL= mongodb+srv://username:password@cluster.mongodb.net/
DATABASE_NAME = db-name
SECRET_KEY = jwt-auth-secret-key
ACCESS_TOKEN_EXPIRE_MINUTES = token-expire-time-in-minutes
ALGORITHM = jwt-algorithm
PORT=8000
IMAGEKIT_PUBLIC_KEY= your-imagekit-public-key
IMAGEKIT_PRIVATE_KEY=your-imagekit-private-key
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/{your-Imagekit-id}
